.goods_list {
  position: relative;
  display: flex;
  padding-left: 15px;
  min-height: 44px;
  background-color: #fff;
  vertical-align: middle;
  overflow: hidden;
  align-items: center;
  margin-top: 0.05rem;
}
.goods {
  width: 100%;
  position: absolute;
  top: 0.48rem;
  bottom: 0.5rem;
  background-color: #ccc;
  padding: 0.05rem;
  overflow: auto;
}
.left {
  width: 0.2rem;
  height: 0.2rem;
}
.left > input {
  height: 100%;
  width: 100%;
}
.rigth {
  position: relative;
  display: flex;
  flex: 1 1;
  align-self: stretch;
  padding-right: 15px;
  overflow: hidden;
}
.imgs {
  height: 1.07rem;
  width: 1.07rem;
  padding: 0.1rem;
}
.title {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.title_top {
  height: 0.5rem;
  width: 1.6rem;
  font-size: 0.14rem;
}
.parmsa {
  height: 0.5rem;
  width: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parmsa_left {
  height: 0.3rem;
  width: 0.4rem;
  font-size: 0.1rem;
  color: red;
}
.parmsa_right {
  height: 0.3rem;
  width: 0.95rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  height: 0.3rem;
  width: 0.3rem;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 0.05rem;
  background-color: #fff;
  font-size: 0.24rem;
}
.btn_content {
  width: 0.3rem;
  border: none;
  font-size: 0.1rem;
  text-align: center;
}
